.header {
  background-color: #036eb6;
}
.headerLink {
  color: #fff;
}
.pcHeader {
  list-style: none;
  padding: 8px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}

@media screen and (min-width: 1279px) {
  /* pcサイズ */
  .spHeader {
    display: none;
  }
}
@media screen and (max-width: 1279px) {
  /* spサイズ */
  .pcHeaderLink {
    color: #fff;
  }
  .pcHheader:hover {
    color: #fff;
    text-decoration: underline;
  }
  .pcHeader {
    display: none;
  }
}
